h1, h2{
  text-align: center;
  padding: 10px;
}

.well {
  padding: 10px;
  text-align: center;
}

#listingForm {
  display: none;
  padding: 25px;
}

#newListing {
  text-align: center;
  padding: 25px;
}

.jumbotron {
  background-color: lightskyblue;
}

.rentalListing {
  border: solid gray 2px;
}
