/*p {
  font-size: 100px;
  color: red;
}*/

h1, h2{
  text-align: center;
  padding: 10px;
}

.well {
  padding: 10px;
}

#listingForm {
  display: none;
  padding: 25px;
}

#newListing {
  text-align: center;
  padding: 25px;
}

/*#testR {
  color: red;
}

#testS {
  color: green;
}*/
